.wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  isolation: isolate;
}

.content {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
}

.section {
  width: 100%;
  height: 100vh;
  will-change: transform;
}

.imageContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
  pointer-events: none;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  will-change: transform;
  pointer-events: none;
  user-select: none;
}