@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root {
  --bg: #ffffff;
  --text: #4a4a4a;
  --accent: #E7BD70;

  --box-bg: #E7BD70;
  /* --box-bg: #EF959D; */
  --tooltip-bg: #000;
  /* --icon-fill: #1B1A17; */
  --icon-fill: #f9f9f9;
  --overlay-strong: rgba(0, 0, 0, 0.9);
  --overlay-mid: rgba(0, 0, 0, 0.8);
  --heroOverlay: rgba(255, 255, 255, 0.2);

  --header-h: clamp(56px, 8svh, 72px);



  --accent-soft: #e0b15c33;
  --card-shadow: 0 20px 50px rgba(0, 0, 0, .1);





    --vino: #691b32;
  --vino-soft: #691b3299;
  --gris: #656565;
  --pill-bg: #e8c88b; /* dorado suave como el mockup */
  --radius-xl: 28px;
}

[data-theme="dark"] {
  --bg: #111111;
  --text: #f9f9f9;
  --accent: #E7BD70;

  /* --box-bg: #EF959D; */
  --box-bg: #E7BD70;

  --tooltip-bg: #f9f9f9;
  --icon-fill: #f9f9f9;
  --overlay-strong: rgba(0, 0, 0, 0.9);
  --overlay-mid: rgba(0, 0, 0, 0.8);
  --heroOverlay: rgba(0, 0, 0, 0.65);
}


body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}

.name {
  color: var(--accent);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(152, 152, 154, 0.8);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--grisClr);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}