.blogContainer {
  width: 100vw;
  padding: 50px;
  background-color: #f4f4f4;
}

.sectionTitle {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.postsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.post {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
}

.postImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.postDetails {
  padding: 20px;
  text-align: center;
}

.postTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.postDate {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.postDescription {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.readMoreButton {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.readMoreButton:hover {
  background-color: #005bb5;
}
